<div class="jumbotron cover-pic">
	<h1 class="text-center">Workout Lounge</h1>
	<p class="text-center">Share your workouts with your friends and family.</p>
</div>

<h3 class="">
	<span class="label label-danger">
		Note: Sign in for testing purposes: [Email: "warren@example.com", Password: "password"]
	</span>
</h3>
<div class="row">
	<div class="col-md-10">
		<h2>List of Members</h2>
		<%= will_paginate @athletes, renderer: BootstrapPagination::Rails, class: "pull-left paginate" %>
	</div>
</div>

<div class="row">
	<% @athletes.each do |athlete| %>
		<div class="col-md-10">
			<div class="well member vcenter">
				<%= athlete.full_name %>
				<% if user_signed_in? %>
					<%= link_to "Follow", friendships_path(friend_id: athlete.id), 
												method: :post, 
											  class: "btn btn-primary pull-right" unless current_user.follows_or_same?(athlete) %>	
				<% end %>
			</div>
		</div>
	<% end %>
</div>
